.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

ul li {
  margin-bottom: 10px;
}

html,
body,
#root,
.App.homepage-background {
  height: 100%;
}

.homepage-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./battlefield.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 100%;
}

.homepage-background body,
.homepage-background #root,
.homepage-background .App {
  height: 100%;
}

.logo {
  max-width: 70%;
  margin-bottom: 20px;
}

body {
  background-image: "../imgs/battlefield.png";
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.frame-data-container {
  text-align: center;
  padding: 20px;
}

.mario-image {
  width: 200px;
  display: block;
  margin: auto;
}

/* characte specific primary colors */
.mario {
  --primary-color: #c03e43;
}
.donkeykong {
  --primary-color: #713918;
}
.link {
  --primary-color: #408fa8;
}
.samus {
  --primary-color: #b64615;
}
.yoshi {
  --primary-color: #6ac55b;
}
.kirby {
  --primary-color: #fbb1c8;
}

.fox {
  --primary-color: #90683b;
}
.pikachu {
  --primary-color: #eebc1d;
}

.luigi {
  --primary-color: #4ea935;
}
.ness {
  --primary-color: #f7686e;
}

.captainfalcon {
  --primary-color: #535279;
}

.jigglypuff {
  --primary-color: #f4c6ce;
}

.data-title,
.move-type-title,
.data-table th {
  color: var(
    --primary-color,
    #000000
  ); /* default to black if primary color isn't defined */
}

.data-title {
  font-size: 2em;
  margin: 20px 0;
  font-weight: bold;
}

.table-container {
  margin: 40px 0;
}

.move-type-title {
  font-size: 20px;
  font-weight: bold;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.data-table th,
.data-table td {
  padding: 10px;
  border: 1px solid #ccc;
}

.logo-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}

.character-button {
  transition: transform 0.3s ease;
}

.character-button:hover {
  transform: scale(1.2);
}

.home-button {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.home-button img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: transform 0.3s;
}

.home-button img:hover {
  transform: scale(1.1);
}

#searchBar {
  border-radius: 25px !important;
  border: none !important;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25) !important;
}

.btn-outline-secondary {
  border-radius: 25px !important;
  border-color: #333 !important;
  color: #333 !important;
}

.btn-outline-secondary:hover {
  background-color: #333 !important;
  color: #fff !important;
}

.top-button {
  padding: 10px 20px;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 10px;
}

.top-button:hover {
  background-color: #45a049;
}

.about-button {
  left: 10px;
}

.contact-button {
  right: 10px;
}

.github-logo {
  margin-right: 10px;
  width: 30px;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  width: 80%;
  max-width: 800px;
  background-color: #000000 !important;
  color: #ffffff !important;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  max-height: 90%;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content button {
  margin-top: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #555;
}

.modal-content p {
  margin-bottom: 20px;
}
